@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@using Microsoft.AspNetCore.Identity
@using Models
@using System.Linq
@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager
@model IEnumerable<WebUI.Models.LineItemVM>
@{
    var order = Model;
}

<h1>Shopping Cart</h1>
<br />
<button class="btn btn-secondary">@Html.ActionLink("Back", "Index", "LineItem", new { p_storeId = Model.Last().StoreFrontId }, new { @style = "color: white;" })</button>
<br />
<br />
<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach (LineItemVM item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Brand)</td>
            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td><button class="btn btn-danger">@Html.ActionLink("Delete", "Delete", new { p_lineItemId = item.LineItemId }, new { @style = "color: white;" })</button></td>
        </tr>
    }
</table>
<h3>Total Price: @ViewData["TotalPrice"]</h3>
<br />
<form asp-action="Create">
    <input type="hidden" asp-for="@order" />
    <input type="submit" value="PlaceOrder" class="btn btn-primary" />
</form>