@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebUI.Models.OrderVM>

<button class="btn btn-secondary">@Html.ActionLink("Back", "Index", "LineItem", new { p_storeId = Model.ElementAt(0).StoreFrontId}, new { @style = "color: white;" })</button>
<br />
<br />
<h1>StoreFront Previous Order</h1>
<button class="btn btn-secondary">@Html.ActionLink("Order no. Asc.", "OrderList", "StoreFront", new { p_id = Model.ElementAt(0).StoreFrontId, p_sort = "OrderAsc" }, new { @style = "color: white;" })</button>
<button class="btn btn-secondary">@Html.ActionLink("Order no. Desc.", "OrderList", "StoreFront", new { p_id = Model.ElementAt(0).StoreFrontId, p_sort = "OrderDesc" }, new { @style = "color: white;" })</button>
<button class="btn btn-secondary">@Html.ActionLink("Price Asc.", "OrderList", "StoreFront", new { p_id = Model.ElementAt(0).StoreFrontId, p_sort = "PriceAsc" }, new { @style = "color: white;" })</button>
<button class="btn btn-secondary">@Html.ActionLink("Price Desc.", "OrderList", "StoreFront", new { p_id = Model.ElementAt(0).StoreFrontId, p_sort = "PriceDesc" }, new { @style = "color: white;" })</button>
<br />
<br />
<table class="table table-striped table-hover">
    <tr>
        <th></th>
        <th>ID</th>
        <th>Address</th>
        <th>Total Price</th>
    </tr>
    @foreach (OrderVM item in Model)
    {
        <tr>
            <td><button class="btn btn-primary">@Html.ActionLink("View", "PreviousOrder", "StoreFront", new { p_orderId = item.OrderId }, new { @style = "color: white;" })</button></td>
            <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
        </tr>
    }
</table>